.breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  gap: 8px;
}

.breadcrumb span {
  color: var(--grey-white-medium-grey, #a6a6a6);
  margin-right: 6px;
  cursor: default;
}

.breadcrumb a:hover {
  text-shadow: 0 0 2px #ffa500;
  cursor: pointer;
}

.home {
  color: var(--primary-30, #9f910f);
  text-decoration: none;
}

.links {
  color: var(--grey-white-medium-grey, #a6a6a6);
  text-decoration: none;
  text-transform: capitalize;
}
